*.pyc
*.~
\#*
.*~
*.egg-info
example/*/*.log
example/*.db
example/*/*.db
tests/*.db
tests/*.log
build/
dist/
example/sp/identities
subject.db
.idea
.project
.pydevproject
.DS_store
.gitignore
debug_*
*.log
*.out
tmp*
*.tmp
*.log.*
*.db
*egg-info*
.coverage
*.tmpl
_build/

example/idp3/htdocs/login.mako

example/idp3/idp.py

example/idp3/idp.xml

example/idp3/idp_conf.py

example/idp3/idp_err.xml

example/idp3/idp_user.py

example/idp3/metadata.xml

example/idp3/modules/login.mako.py

example/idp3/modules/root.mako.py

example/idp3/pki/create_key.sh

example/idp3/pki/mycert.pem

example/idp3/pki/mykey.pem

example/idp3/templates/root.mako

example/sp2/attributemaps/basic.py

example/sp2/attributemaps/saml_uri.py

example/sp2/attributemaps/shibboleth_uri.py

example/sp2/pki/mycert.pem

example/sp2/pki/mykey.pem

example/sp2/sp.py

example/sp2/sp.xml

example/sp2/sp_conf.py

example/sp2/who.ini

example/idp2/idp.xml

example/idp2/idp_conf_test.py

example/idp2/metadata.xml

example/idp2/modules/login.mako.py

example/idp2/modules/root.mako.py

example/idp3/idp_conf_test.py

update

src/saml2/entity_category/swamid2.py

example/idp2/IdpTestConf.py

example/idp2/create_idp_conf.json

example/idp2/create_idp_conf.py

example/idp2/idpSaml2test.xml

example/idp2/idp_conf.template

example/idp2/idp_conf_saml2test.py

example/sp/sp.xml

example/idp2/idp_conf_local.py

example/sp/sp_conf_local.py

example/sp/my_backup_sp_conf_local.py

example/sp/backup_sp_conf_local.py

example/idp2/pki/localhost.ca.crt

example/idp2/pki/localhost.ca.crt

example/idp2/pki/localhost.ca.key

example/idp2/pki/localhost.ca.key

example/sp/pki/localhost.ca.crt

example/sp/pki/localhost.ca.crt

example/sp/pki/localhost.ca.key

example/sp/pki/localhost.ca.key

example/idp2/idp_conf_dirgweb.py

example/idp2/idp_conf_nocert.py

example/idp2/idp_conf_proxy.py

example/idp2/idp_nocert.xml

example/sp/nocert_sp_conf/sp_nocert.xml

example/sp/normal_sp_conf/sp.xml

example/sp/normal_sp_conf/sp_conf.py

example/sp/normal_sp_conf/who.ini

example/sp/sp_nocert.xml

example/sp/sp_nocert2.xml

example/sp/test.py

example/sp/sp_conf.py

example/sp/nocert_sp_conf/sp.xml

example/sp/nocert_sp_conf/sp_conf.py

example/sp/nocert_sp_conf/who.ini

example/sp-repoze/my_sp.xml

example/sp-repoze/pki/localhost.ca.crt

example/sp-repoze/pki/localhost.ca.key

example/sp-repoze/sp.xml

example/sp-repoze/sp.xml

example/sp-repoze/sp_conf.py

example/sp-repoze/sp_conf.py

example/idp2/sp_test.xml

example/sp-repoze/idp_test.xml

example/sp-repoze/sp_conf_example.py

example/idp2/idp_conf_example.py

example/idp2/lidp.xml

example/idp2/old_idp.xml

example/sp-repoze/old_sp.xml

example/sp-repoze/sp_conf_2.Pygmalion

.gitignore.swp

example/sp-repoze/sp_conf_2.py

sp.xml
