{
    "entityid" : "urn:mace:example.com:saml:roland:idp",
    "name" : "Rolands IdP",
    "endpoints" : {
        "single_sign_on_service" : ["http://localhost:8088/sso"],
        "single_logout_service": ["http://localhost:8088/slo"]
    },
    "policy": {
        "default": {
            "lifetime": {"minutes":15},
            "attribute_restrictions": None, # means all I have
            "name_form": "urn:oasis:names:tc:SAML:2.0:attrname-format:uri",
        },
        "urn:mace:example.com:saml:roland:sp": {
            "lifetime": {"minutes": 5},
            "nameid_format": "urn:oasis:names:tc:SAML:2.0:nameid-format:persistent",
            # "attribute_restrictions":{
            #     "givenName": None,
            #     "surName": None,
            # }
        }
    },
    "debug" : 1,
    "key_file" : "test.key",
    "cert_file" : "test.pem",
    "xmlsec_binary" : "/usr/local/bin/xmlsec1",
    "metadata": {
        "local": ["metadata.xml", "vo_metadata.xml"],
    },
    "subject_data": "subject_data.db",
    "attribute_map_dir" : "attributemaps",
    "organization": {
        "name": "Exempel AB",
        "display_name": [("Exempel AB","se"),("Example Co.","en")],
        "url":"http://www.example.com/roland",
    },
    "contact_person": [{
        "given_name":"John",
        "sur_name": "Smith",
        "email_address": ["john.smith@example.com"],
        "contact_type": "technical",
        },
    ],
}