{
    "entityid" : "urn:mace:example.com:saml:roland:idpr",
    "service": {
        "idp": {
            "name" : "Rolands restrictied IdP",
            "url": "http://localhost:8089/sso",
            "assertions": {
                "default": {
                    "lifetime": {"minutes":15},
                },
                "urn:mace:example.com:saml:roland:sp": {
                    "lifetime": {"minutes": 5},
                    "attribute_restrictions":{
                        "givenName": None,
                        "surName": None,
                        "mail": [".*@example.com"],
                        "eduPersonAffiliation": ["(employee|staff|faculty)"],
                    }
                }
            }
        }
    },
    "key_file" : "test.key",
    "cert_file" : "test.pem",
    "xmlsec_binary" : "/opt/local/bin/xmlsec1",
    "metadata": {
        "local": ["sp_0.metadata"],
    },
    "subject_data": "subject_data.db",
    "attribute_maps" : ["attribute.map"]
}