{
    "entityid" : "urn:mace:umu.se:saml:roland:sp",
    "my_name" : "urn:mace:umu.se:saml:roland:sp",
    "service_url" : "http://lingon.catalogix.se:8087/",
    "service": ["sp"],
    "debug" : 1,
    "my_key" : "./mykey.pem",
    "my_cert" : "./mycert.pem",
    "xmlsec_binary" : "/opt/local/bin/xmlsec1",
    "metadata": {
        "local": ["/Users/rolandh/code/pysaml2/tests/metadata.xml"],
    },
    "idp_entity_id": "urn:mace:umu.se:saml:roland:idp",
}